body {
  color: #666;
  font-family: 'Quicksand', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}
.pacifico {
  color: #AD0E42;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
.clear {
  clear: both;
  display: block;
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.inner {
  padding: 45px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
}

#header {
  background-color: #c9c9c9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#header .intro {
  background-color: #FFFFFF;
  bottom: -100px;
  position: absolute;
  right: 0;
  width: 80%;
}

#header .intro .inner p {
  margin-bottom: 0;
}

/* Home */
.home .wrapper {
  margin-top: 130px;
}

/* Home About */
.home-about {
  min-height: 650px;
  width: 100%;
}
.home-about aside {
  float: left;
  padding: 15px;
  width: 50%;
}
.home-about .gallery {
  float: left;
  min-height: 650px;
  padding: 15px;
  position: relative;
  width: 50%;
}
.home-about .gallery figure {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
  width: 80%;
}
.home-about .gallery figure img {
  border-radius: 3px;
}
.home-about .gallery figure.first-image {
  right: 0;
  top: 0;
  z-index: 1;
}
.home-about .gallery figure.second-image {
  left: 0;
  opacity: 0.6;
  top: 100px;
  z-index: 0;
}
.home-about .gallery:hover figure {
  cursor: url( ../images/cake-cursor.png ), auto;
}
.home-about .gallery:hover figure.first-image {
  opacity: 0.6;
  z-index: 0;
}
.home-about .gallery:hover figure.second-image {
  opacity: 1;
  z-index: 1; 
}
.home-about .gallery figure figcaption {
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
  margin-top: -23px;
  margin-left: 15px;
  font-style: italic;
  color: #fff;
  font-size: 12px;
}